<html>

<head>

<title> Home</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Welcome page</a>
      </li>
 <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          User
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">


   <a class="dropdown-item" href="users/edit"><%= link_to 'Update Profile', edit_user_registration_path, method: :get %></a>

          <a class="dropdown-item" href="users/sign_out"><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></a>

        </div>
      </li>


<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Products
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
       
          <a class="dropdown-item" href="products/new"><%= link_to 'add', new_product_path, method: :get %></a>

        

          

        </div>
      </li>
      
    </ul>
  </div>
</nav>

<div class='text-center'>
<h4>Products</h4>

 <div class='col'>
<% if (!@products.blank?) %>  

    <% for item in @products %>
     <div class='container'>
         <div class='col' height='50px' style='background-color: grey'>
           <div class="row"> </div>
              <div class="row"> Description: <%= item.descriptio%></div>
                <div class="row"> Price: <%= item.descriptio%></div>
         </div>
        </div>
     <%end%>
  <%else%>

  <%end%>
 </div>


 </div>





</body>

</html>