<head>
  <%= stylesheet_link_tag "cart.css" %>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <aside class="col-lg-9">
        <div class="card">
          <div class="table-responsive">
            <table class="table table-borderless table-shopping-cart">
              <thead class="text-muted">
                <tr class="small text-uppercase">
                  <th scope="col">Product</th>
                  <th scope="col" width="120">Price</th>
                  <th scope="col" class="text-right d-none d-md-block" width="200"></th>
                </tr>
              </thead>
              <tbody class="align-middle">
                <% @products.each do |cart_item| %>
                  <tr id="cart-item">
                    <td>
                      <figure class="itemside align-items-center">
                        <%= image_tag cart_item.images.first, style: "width: 200px;" %>
                        <figcaption class="info"> <a href="#" class="title text-dark" data-abc="true">
                            <%= cart_item.product_name%>
                          </a>
                          <p class="small text-muted">Description:<br>
                            <%= cart_item.descriptio%>
                          </p>
                        </figcaption>
                      </figure>
                    </td>
                    <td class="align-middle">
                      <div class="price-wrap">
                        <%= cart_item.price%> $
                      </div>
                    </td>
                    <td class="align-middle">
                      <%= button_to"Remove", logout_cart_path(id:cart_item.id), method: :delete, remote: true, data: { confirm: 'Are you sure?' } %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </aside>
    </div>
  </div>
</body>
