<h3 class="text-uppercase text-center mb-2"><%= page_title %></h3>
<div class="text-center">
  <%= form_with(model: product, local: true) do |f| %>
    <% if product.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(product.errors.count, "error") %> Errors:</h2>
        <ul>
          <% product.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field">
      <%= f.label :Name %><br />
      <%= f.text_field :product_name%>
    </div>
    <div class="field">
      <%= f.label :Description %><br />
      <%= f.text_field :descriptio, autofocus: true %>
    </div>
    <div class="field">
      <%= f.label :Price%><br />
      <%= f.text_field :price, autofocus: true %>
    </div>
    <div class="field">
      <%= f.label :Quantity%><br />
      <%= f.number_field :quantity, value: product.quantity || 1,  autofocus: true %>
    </div>
    <%if(action !="new")%>
      <div class="field">
        <%= f.label :Images%><br />
      </div>
      <div class="row d-flex justify-content-center mt-3">
        <% if product.images.attached?%>
          <% product.images.each do |img| %>
            <%= image_tag img, style: "width: 110px;margin:5px;"%>
          <% end %>
        <% else %>
          <p class="text-center"> No Image found </p>
        <% end%>
      </div>
    <%end%>
    <br>
    <div class="field">
      <%= f.file_field :images , :multiple => true %>
    </div>
    <div class="field">
      <%= f.number_field :user_id,
            id: :product_user_id, class: "form-control", value: current_user.id , type: :hidden
            %>
    </div>
    <div class="actions">
      <%= f.submit submit_text %>
    </div>
  <% end %>
</div>
