

 <h2>Add new product </h2>

<%= form_for @product do |f| %>
    
        <div class="field">
            <%= f.label :Name %><br />
                <%= f.text_field :product_name%>
        </div>
        <div class="field">
            <%= f.label :Description %><br />
                <%= f.text_field :descriptio, autofocus: true %>
        </div>
        <div class="field">
            <%= f.label :Price%><br />
                <%= f.text_field :price, autofocus: true %>
        </div>

          <div class="field">
            <%= f.label :Quantity%><br />
                <%= f.text_field :quantity, autofocus: true %>
        </div>

        <div class="field">
            <%= f.label :Photo %><br />
                <%= f.file_field :images , :multiple => true %>
        </div>
        <div class="field">
            <%= f.number_field :user_id,
            id: :product_user_id, class: "form-control", value: current_user.id , type: :hidden
            %> 
        </div>

        <div class="actions">
            <%= f.submit "Add" %>
        </div>
        <% end %>

         
